<div>
<table>
  <tr>
    <th>Nome</th>
    <th>Indirizzo</th>
    <th>Latitudine</th>
    <th>Longitudine</th>
  </tr>

<% @posizioni.each do |posizione| %>
<tr>
      <td><%= posizione.name %></td>
      <td><%= posizione.address %></td>
      <td><%= posizione.latitude %></td>
      <td><%= posizione.longitude %></td>
    </tr>
  <% end %>
</table>
</div>

<div>
<p>
  <i> Inserire qui la mappa google </i>
</p>
</div>
  <p>
    <%= link_to "Aggiungi posizione", indirizzi_new_path %>
</p>
