<script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCYg_IUpxEgUxNTsa7v4EvPavXTP1NHgjY"> </script>

<%= form_for :posizione, url: indirizzi_create_path do |f| %>
<p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </p>
  <p>
  <%# button_to "Crea", indirizzi_create_path, :action => :create %>
  <%= f.submit %>
  </p>
<% end %>
